body {
	width: 400px;
	height: 500px;
	margin: 0 auto;
	padding: 40px;
	font-family: "Segoe UI", sans-serif;
	border: 1px dashed black;
}		

.row {						
	margin: 2px;
}		

.box {
	display: inline-block;
	float: left;
	margin: 2px;
	height: 100px;
	width: 100px;
	border: 1px solid blue;
	border-radius: 10px;
}

.XO {
	/*X's and O's: can't figure out how to center it*/
	display: block;
	margin-left: 50;
	float: none;
}

.user-inputs {
	padding-top: 30px;
	clear: both;
}
.user-input {
	width: 25px;
}

#btnSubmit {
	display: block;
	width: auto;			
}

